<section class="row">
	<h3 class="col-md-12 text-center">Sign up using your social accounts</h3>
	<div class="col-md-12 text-center">
		<a href="/auth/google" class="undecorated-link">
			<img src="/modules/users/img/buttons/google.png">
		</a>
	</div>
	<h3 class="col-md-12 text-center">Or with your email</h3>
	<div class="col-xs-offset-2 col-xs-8 col-md-offset-5 col-md-2">
		<form name="userForm" ng-submit="authVm.signup(authVm.credentials)" class="signin form-horizontal" novalidate autocomplete="off">
			<fieldset>
				<div class="form-group">
					<label for="firstName">Name</label>
					<input type="text" required id="firstName" name="firstName" class="form-control" ng-model="authVm.credentials.firstName" placeholder="Name">
				</div>
				<div class="form-group">
					<label for="lastName">Name</label>
					<input type="text" required id="firstName" name="firstName" class="form-control" ng-model="authVm.credentials.lastName" placeholder="Name">
				</div>
				<div class="form-group">
					<label for="email">Email</label>
					<input type="email" id="email" name="email" class="form-control" ng-model="authVm.credentials.email" placeholder="Email">
				</div>
				<div class="form-group">
					<label for="password">Password</label>
					<input type="password" id="password" name="password" class="form-control" ng-model="authVm.credentials.password" placeholder="Password">
				</div>
				<div class="text-center form-group">
					<button type="submit" class="btn btn-large btn-primary">Sign up</button>&nbsp; or&nbsp;
					<a href="/#!/signin" class="show-signup">Sign in</a>
				</div>
				<div ng-show="error" class="text-center text-danger">
					<strong ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
	</div>
</section>