<section class="">
<a class="add-ikebox button" zf-open="create-task-modal">Add Task</a>
  <div class="ikebox-container">
    <div class="ikebox important urgent">      
      <div class="ikebox-header">        
        <div class="ikebox-title top">
          <h2>Important + Urgent</h2>
        </div>                  
      </div>
      <div class="ikebox-task-list-container">
        <ul class="ikebox-task-list">
          <li class="ikebox-list-item" ng-repeat="task in ibVm.ikebox.tasks | filter: {important: true, urgent: true}"
          ng-class="{'important': task.important, 'urgent': task.urgent}">
            <div class="ikebox-list-item-details">
              <h3 class="ikebox-task-title">{{task.title}}</h3>
              <p class="ikebox-task-description">{{task.description}}</p>
              <p class="ikebox-task-time">{{task.status.timeAllocated - task.status.timeRemaning | timeMinutes}} Minutes</p>
            </div>
            <div class="ikebox-list-item-functions">
              <a ng-hide="task.status.completed" ng-click="ibVm.completeTask(task)">Complete</a>
              <a zf-open="edit-subtask-modal" ng-click="ibVm.editingTask = task">Edit</a>
              <a ng-click="ibVm.deleteTask(ibVm.ikebox, task, $index)">Delete</a>
            </div>                    
            <p></p>
          </li>
        </ul>
      </div>
    </div>
    <div class="ikebox important not-urgent">   
      <div class="ikebox-header">        
        <div class="ikebox-title side">
          <h2>Important + Not Urgent</h2>
        </div> 
      </div>  
      <div class="ikebox-task-list-container">
        <ul class="ikebox-task-list">
          <li class="ikebox-list-item"  
            ng-repeat="task in ibVm.ikebox.tasks | filter: {important: true, urgent: false}"
            ng-class="{'important': task.important, 'urgent': task.urgent, 'not-important': !task.important, 'not-urgent': !task.urgent}">
            <div class="ikebox-list-item-details">
              <h3 class="ikebox-task-title">{{task.title}}</h3>
              <p class="ikebox-task-description">{{task.description}}</p>
              <p class="ikebox-task-time">{{task.status.timeAllocated - task.status.timeRemaning | timeMinutes}} Minutes</p>
            </div>
            <div class="ikebox-list-item-functions">
              <a ng-hide="task.status.completed" ng-click="ibVm.completeTask(task)">Complete</a>
              <a zf-open="edit-subtask-modal" ng-click="ibVm.editingTask = task">Edit</a>
              <a ng-click="ibVm.deleteTask(ibVm.ikebox, task, $index)">Delete</a>
            </div> 
          </li>
        </ul>
      </div>
    </div>
    <div class="ikebox not-important urgent">
      <div class="ikebox-header">        
        <div class="ikebox-title side">
          <h2>Not Important + Urgent</h2>
        </div>
      </div>
      <div class="ikebox-task-list-container">
        <ul class="ikebox-task-list">
          <li class="ikebox-list-item"  
            ng-repeat="task in ibVm.ikebox.tasks | filter: {important: false, urgent: true}"
            ng-class="{'important': task.important, 'urgent': task.urgent, 'not-important': !task.important, 'not-urgent': !task.urgent}">
            <div class="ikebox-list-item-details">
              <h3 class="ikebox-task-title">{{task.title}}</h3>
              <p class="ikebox-task-description">{{task.description}}</p>
              <p class="ikebox-task-time">{{task.status.timeAllocated - task.status.timeRemaning | timeMinutes}} Minutes</p>
            </div>
            <div class="ikebox-list-item-functions">
              <a ng-hide="task.status.completed" ng-click="ibVm.completeTask(task)">Complete</a>
              <a zf-open="edit-subtask-modal" ng-click="ibVm.editingTask = task">Edit</a>
              <a ng-click="ibVm.deleteTask(ibVm.ikebox, task, $index)">Delete</a>
            </div> 
          </li>
        </ul> 
      </div>    
    </div>
    <div class="ikebox not-important not-urgent">
      <div class="ikebox-header">        
        <div class="ikebox-title top">
          <h2>Not Important + Not Urgent</h2>
        </div>
      </div>
      <div class="ikebox-task-list-container">
        <ul class="ikebox-task-list">
          <li class="ikebox-list-item"  
            ng-repeat="task in ibVm.ikebox.tasks | filter: {important: false, urgent: false}"
            ng-class="{'important': task.important, 'urgent': task.urgent, 'not-important': !task.important, 'not-urgent': !task.urgent}">
            <div class="ikebox-list-item-details">
              <h3 class="ikebox-task-title">{{task.title}}</h3>
              <p class="ikebox-task-description">{{task.description}}</p>
              <p class="ikebox-task-time">{{task.status.timeAllocated - task.status.timeRemaning | timeMinutes}} Minutes</p>
            </div>
            <div class="ikebox-list-item-functions">
              <a ng-hide="task.status.completed" ng-click="ibVm.completeTask(task)">Complete</a>
              <a zf-open="edit-subtask-modal" ng-click="ibVm.editingTask = task">Edit</a>
              <a ng-click="ibVm.deleteTask(ibVm.ikebox, task, $index)">Delete</a>
            </div> 
          </li>
        </ul>
      </div>      
    </div>
  </div>
</section>


<div zf-modal="" id="create-task-modal">
  <a zf-close="" class="close-button">×</a>
  <h3>New Task</h3>
  <form>
    <label for="text">Title</label>
    <input type="text" ng-model="ibVm.taskObj.title">
    <label for="text">Description</label>
    <textarea ng-model="ibVm.taskObj.description"></textarea>
    <input id="important-checkbox" type="checkbox" ng-model="ibVm.taskObj.important">
      <label for="important-checkbox">Important</label>
    <input id="urgent-checkbox" type="checkbox" ng-model="ibVm.taskObj.urgent">
      <label for="urgent-checkbox">Urgent</label>      
    <input type="number" ng-model="ibVm.taskObj.time">
    <input type="submit" class="button" ng-click="ibVm.createTask(ibVm.ikebox, ibVm.taskObj, dbVm.user._id)"></input>
  </form>
</div>

<div zf-modal="" id="edit-subtask-modal">
  <a zf-close="" class="close-button">×</a>
  <h3>Edit Task</h3>
  <form>
    <label for="text">Title</label>
    <input type="text" ng-model="ibVm.editingTask.title">
    <label for="text">Description</label>
    <textarea ng-model="ibVm.editingTask.description"></textarea>
    <input id="important-checkbox" type="checkbox" ng-model="ibVm.editingTask.important">
      <label for="important-checkbox">Important</label>
    <input id="urgent-checkbox" type="checkbox" ng-model="ibVm.editingTask.urgent">
      <label for="urgent-checkbox">Urgent</label>
    <input type="number" ng-model="ibVm.editingTask.time">      
    <input type="submit" class="button" ng-click="ibVm.updateTask(ibVm.editingTask)"></input>
  </form>
</div>