<h2>Ikebox Planner</h2>
<div class="ikebox-planner">
  <div class="ikebox-planner-selector">
    <select name="selectIkebox" ng-model="ibVm.ikebox"
      ng-options="ikebox as ikebox.title for ikebox in ibVm.ikeboxes">
    </select>    
  </div>
  <h3>{{ibV.ikebox.title}}</h3>
  <div class="" ng-show="ibVm.ikebox">  
  <h2>Important and Urgent</h2>
  <div class="ikebox-planner important urgent"
    ng-repeat="task in ibVm.ikebox.tasks | filter: {important: true, urgent: true}">      
      <h3>{{task.title}}</h3>
      <p>{{task.description}}</p>
      <div class="button" ng-click="ibVm.addToTasklist(task._id, tlVm.tasklist)">+</div>
  </div>
  <h2>Important and Not Urgent</h2>
  <div class="ikebox-planner important not-urgent" 
    ng-repeat="task in ibVm.ikebox.tasks | filter: {important: true, urgent: false}">
      <h3>{{task.title}}</h3>
      <p>{{task.description}}</p>
      <div class="button" ng-click="ibVm.addToTasklist(task._id, tlVm.tasklist)">+</div>
  </div>
  <h2>Not Important and Urgent</h2> 
  <div class="ikebox-planner urgent not-important" 
    ng-repeat="task in ibVm.ikebox.tasks | filter: {important: false, urgent: true}">          
      <h3>{{task.title}}</h3>
      <p>{{task.description}}</p>
      <div class="button" ng-click="ibVm.addToTasklist(task._id, tlVm.tasklist)">+</div>
  </div>
  <h2>Not Important and Not Urgent</h2>
  <div class="ikebox-planner not-important not-urgent" 
    ng-repeat="task in ibVm.ikebox.tasks | filter: {important: false, urgent: false}">
      <h3>{{task.title}}</h3>
      <p>{{task.description}}</p>
      <div class="button" ng-click="ibVm.addToTasklist(task._id, tlVm.tasklist)">+</div>
    </div>
  </div>
  <div ng-hide="ibVm.ikebox">
    Select Ikebox
  </div>
</div>