// fix for foundation karma tests
meta.foundation-mq {
  font-family: "small=0&medium=40rem&large=75rem&xlarge=90rem&xxlarge=120rem"; 
}

*, body {
  // background-color: blue;
  font-family: $text-font;
}

hr {
	margin: 0;
}

:focus {
	// background:white;
}

.vcard {
	border:none;
	padding: 0;
	margin: 0;
	display: block;
}

.hidden {
	display: none !important;
}

* {
  &:focus {
    outline: none;    
    border: none;
  }
}

section {
  height: 100%;
  width: 100%;
}

header {
}

.block-list li > label {
  &:hover {
    background: inherit;
  }
}

.plants {
  &-form {
    // @include grid-block();
    &-add {
      width: 100%;
      padding: 0.5rem 2rem;
      text-align: center;
      background: $primary-color;
      display: inline-block;
      color: white;
    }
  }
}

.vendor-card {
  &-list {
    @include grid-block();
    @extend .large-up-3;
    @extend .medium-up-2;
    @extend .small-up-1;
  }
  // @include grid-content(
  //   $size: 12,
  //   // $orientation: vertical
  // );
  @include card-container(
    $background: #fff, // Background color
    $color: #000, // Text color
    // $border: 1px solid #000, // Border
    // $radius: 4px, // Border radius
    $shadow: 0 2px 10px $color-background, // Box shadow
    // $padding: 1rem,
    $margin: 1rem // Margin bottom
  );
  // This is a card divider
  .custom-card-divider {
    @include card-divider(
      $background: #ccc,
      $padding: 1rem
    );
  }
  // This is a card section
  .custom-card-section {
    @include card-section(
      $padding: 1rem
    );
  }
}