.button {
  background-color: $button-color;
  color: $color-base;
  border: $button-border;
  &:hover {
    background-color: $button-color-hover;
  }
  &.lite {
    background-color: $color-base;
    &.add-beach {
      float: right;
    }
  }
  &.secondary {
    border: $button-border;
    background-color: $button-color-secondary;
    &:hover {
      background-color: $button-color-secondary-hover; 
    }
  }
}