input[type="search"] {
  border: none;
  &:hover {
    border: none;
  }
  &:focus {
    border: none;
  }
}

fieldset {
  border: none;
}

.profile {
  &-beach-input {
    display: inline-block;
    min-width: 50%;
  }
}

#common-name-input, #scientific-name-input {
  display: inline-block;
  // @include grid-content(
  //   $size: 5
  // );
}

.create-task-ikebox {
  @include grid-block(
    $wrap: true
  );
  margin: 1rem 0rem;
}

.create-task-important-urgent {
  @include ikebox-selector($color-important-urgent);
}

.create-task-important-not-urgent {
  @include ikebox-selector($color-important-not-urgent);
}

.create-task-not-important-urgent {
  @include ikebox-selector($color-not-important-urgent);
}

.create-task-not-important-not-urgent {
  @include ikebox-selector($color-not-important-not-urgent);
}