// placeholder text

::-webkit-input-placeholder {
   color: lighten($color-base, 15%);
}

:-moz-placeholder { /* Firefox 18- */
   color: lighten($color-base, 15%);  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: lighten($color-base, 15%);  
}

:-ms-input-placeholder {  
   color: lighten($color-base, 15%);  
}

.ikebox-list-item {
  h3, p {
    margin: 0;
    padding: 0;
    line-height: 1.5rem;
  }
}

.ikebox-title {
  h2 {
    margin: 0;
    font-weight: $text-heavy;
  }
}

.ikebox-indicator {
  color: $color-light;
  font-size: 3rem;
  margin-left: 0;
  padding: 0;
}