h3 {
  font-size: 2rem;
}

h5 {
  font-size: 1.25rem;
}

i {
  color: $color-icon;
  &:hover {
    color: $color-base;
  }
}

// placeholder text

::-webkit-input-placeholder {
   color: lighten($color-base, 15%);
}

:-moz-placeholder { /* Firefox 18- */
   color: lighten($color-base, 15%);  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: lighten($color-base, 15%);  
}

:-ms-input-placeholder {  
   color: lighten($color-base, 15%);  
}

.disabled {
  h1, h2, h3, h4, h5, p, a, i {
    color: $color-secondary !important;
  }  
}

.tasklist-card {
  h3 {
    line-height: 2rem;
    color: $color-base;
    font-weight: $text-heavy;
  }
  h5 {
    color: $color-base;
    font-weight: $text-heavy;
    line-height: 1.5rem;
    margin: 0.5rem 0rem 0.5rem 0.25rem;
  }
  p {
    color: $color-base;
    font-weight: $text-medium;
    line-height: 1.5rem;
    padding: 0rem;
    // margin: 0rem 0rem 0rem 0.25rem;
  }
  i {
    font-size: 1.5rem;
    margin-right: 0.25rem;
    margin-top: 0.4rem;
  }
  &.new {
    text-align: center;  
    i {
      color: $color-base;
      font-size: 2rem;
    }

  }
}

.tasklist-list-item {
  &-time {
    text-align: center;
    vertical-align: middle;
  }
  &.new {
    text-align: center;  
    i {
      color: $color-base;
      font-size: 2rem;
      font-weight: $text-light;
      margin-top: 0.4rem;
    }
    p {
      color: $color-base;
      font-weight: $text-medium;
      line-height: 1.5rem;
      padding: 0rem;
    }
    > div {
      margin-left: auto;
      margin-right: auto;
    }
  }
  p {
    color: $color-base;
    margin: 0rem;
  }
  h3 {
    color: $color-base;
    font-weight: $text-heavy;
    &.minutes {
      font-size: 3rem;
      line-height: 3rem;
      padding: 0;
      margin: 0;
    }
  }
  h5 {
    color: $color-base;
    font-size: 1rem;
    text-align: center;    
  }
}

