<section class="decision-matrix">
  {{dmVm.tasks}}
  <div class="decision-matrix-container">
    <div class="decision-matrix important urgent">
      <h2 class="decision-matrix title top">Important</h2>
      <h2 class="decision-matrix title side">Urgent</h2>
      <a href="#" class="decision-matrix button">Add Task</a>
      <ul class="decision-matrix list" 
          ng-repeat="task in dmVm.tasks | priority: {important: true, urgent: true}">
        <li class="decision-matrix list-item">
          <ul class="decision-matrix button-group">
            <li><a href="#" ng-click="dmVm.completeTask(task)" class="decision-matrix button">Complete</a></li>
            <li><a href="#" class="decision-matrix button">Edit</a></li>
            <li><a href="#" ng-click="dmVm.deleteTask(task)" class="decision-matrix button">Delete</a></li>
          </ul>
          <h3 class="decision-matrix task title">{{task.title}}</h3>
          <p class="decision-matrix task description">{{task.description}}</p>
        </li>
      </ul>
    </div>
    <div class="decision-matrix important not-urgent">      
      <ul class="decision-matrix list" 
          ng-repeat="task in dmVm.tasks | priority: {important: true, urgent: false}">
        <li class="decision-matrix list-item">
          <ul class="decision-matrix button-group">
            <li><a href="#" ng-click="dmVm.completeTask(task)" class="decision-matrix button">Complete</a></li>
            <li><a href="#" class="decision-matrix button">Edit</a></li>
            <li><a href="#" ng-click="dmVm.deleteTask(task)" class="decision-matrix button">Delete</a></li>
          </ul>        
          <h3 class="decision-matrix task title">{{task.title}}</h3>
          <p class="decision-matrix task description">{{task.description}}</p>
        </li>
      </ul>
    </div>
    <div class="decision-matrix not-important urgent">
      <h2 class="decision-matrix title side">Urgent</h2>
      <ul class="decision-matrix list" 
          ng-repeat="task in dmVm.tasks | priority: {important: false, urgent: true}">
        <li class="decision-matrix list-item">
          <ul class="decision-matrix button-group">
            <li><a href="#" ng-click="dmVm.completeTask(task)" class="decision-matrix button">Complete</a></li>
            <li><a href="#" class="decision-matrix button">Edit</a></li>
            <li><a href="#" ng-click="dmVm.deleteTask(task)" class="decision-matrix button">Delete</a></li>
          </ul>        
          <h3 class="decision-matrix task title">{{task.title}}</h3>
          <p class="decision-matrix task description">{{task.description}}</p>
        </li>
      </ul>      
    </div>
    <div class="decision-matrix not-important not-urgent">
      <h2 class="decision-matrix title top">Important</h2>
      <ul class="decision-matrix list" 
          ng-repeat="task in dmVm.tasks | priority: {important: false, urgent: false}">
        <li class="decision-matrix list-item">
          <ul class="decision-matrix button-group">
            <li><a href="#" ng-click="dmVm.completeTask(task)" class="decision-matrix button">Complete</a></li>
            <li><a href="#" class="decision-matrix button">Edit</a></li>
            <li><a href="#" ng-click="dmVm.deleteTask(task)" class="decision-matrix button">Delete</a></li>
          </ul>        
          <h3 class="decision-matrix task title">{{task.title}}</h3>
          <p class="decision-matrix task description">{{task.description}}</p>
        </li>
      </ul>       
    </div>
  </div>
</section>
