/* ============================ 
	Colors
============================ */

$color-base: hsla(42, 99%, 59%, 1.0);
$color-accent: hsla(198, 17%, 20%, 1.0);
$color-light: hsla(184, 67%, 95%, 1.0);
$color-link: hsla(180, 5%, 48%, 1.0);
$color-text: hsla(0, 0%, 100%, 1.0);
$color-background: hsla(204, 15%, 98%, 1.0);
$color-branding: hsla(197, 78%, 3%, 1.0);
$color-border: hsla(0, 0%, 0%, 0.13);
$color-border-dark: hsla(0, 0%, 0%, 0.50);

$color-important-urgent: hsla(352, 77%, 56%, 1.0);
$color-important-not-urgent: hsla(180, 50%, 47%, 1.0);
$color-not-important-urgent: hsla(50, 97%, 56%, 1.0);
$color-not-important-not-urgent: hsla(191, 69%, 49%, 1.0);
/* ============================ 
	Typography
============================ */

$text-font: "Oswald", Helvetica, Arial, sans-serif;

$text-heavy:900;
$text-medium:400;
$text-light:200;

$underline: 0.0625rem;

/* ============================ 
	Borders
============================ */


/* ============================ 
	Backgrounds
============================ */

