/* ============================ 
	Colors
============================ */

$color-base: hsla(193, 49%, 68%, 1.0);
$color-medium: hsla(193, 49%, 78%, 0.7);
$color-light: hsla(193, 49%, 78%, 0.4);
$color-secondary: hsla(0, 0%, 80%, 1.0);
$color-link: $color-base;
$color-icon: transparentize($color-base, 0.5);

$color-important-urgent: hsla(18, 100%, 64%, 1.0);
$color-important-not-urgent: $color-base;
$color-not-important-urgent: hsla(42, 99%, 59%, 1.0);
$color-not-important-not-urgent: hsla(89, 84%, 83%, 1.0);

/* ============================ 
	Typography
============================ */

$text-font: "Oswald", Helvetica, Arial, sans-serif;

$text-heavy:900;
$text-medium:400;
$text-light:200;

$underline: 0.0625rem;

/* ============================ 
  Buttons
============================ */

$button-color: transparentize($color-base, 0.9);
$button-color-hover: transparentize($color-base, 0.5);
$button-color-secondary: $color-secondary;
$button-color-secondary-hover: darken($color-secondary, 0.1);
$button-border-color: $color-secondary;

/* ============================ 
	Borders
============================ */

$basic-border: 1px solid $color-secondary;
$base-border: 1px solid $color-base;
$basic-border-thick: 3px solid $color-secondary;
$button-border: 2px solid $button-border-color;
$modal-border: 5px solid $color-base;
$input-border: 1px solid $color-base;

/* ============================ 
	Backgrounds
============================ */

